#shopping {
    padding: 0;
}

#profiel {
    padding-top: 0;
    padding-bottom: 4px;
}

#pretpark-logo {
    width: 20%;
    margin: auto;
}

#profiel-afbeelding {
    width: 42px;
    height: 42px;
    margin-top: 4px;
    margin-right: 15px;
}

#profiel-naam {
    float: right;
    margin-top: 15px;
}