#winkelwagenLink {
    padding: 0 5px;
}

#profiel {
    padding-top: 0;
    padding-bottom: 4px;
}

#pretparkLogo {
    width: 20%;
    margin: auto;
}

#profielAfbeelding {
    width: 42px;
    height: 42px;
    margin-top: 4px;
    margin-right: 15px;
}

#profielnaam {
    float: right;
    margin-top: 15px;
}

#winkelwagen {
    width: 50px;
    height: 50px;
}