#productnaam {
    margin-top: 40px;
    margin-bottom: 40px;
}

#prijs {
    margin-top: 50px;
}

#koopSelectbox {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#winkelwagenProduct {
    height: 100px;
    width: 100px;
}

#productAfbeelding {
    height: 100px;
    width: 100px;
}

.tabelWinkel {
    margin-top: 42px;
}

#betalen {
    float: right;
}

.totaal {
    float: right;
}

#verwijderen {
    margin-top: 48px;
}