.tabelWinkel {
    margin-top: 42px;
}

#prijs {
    margin-top: 50px;
}

#voorraadSelectbox {
    padding-top: 6px;
    padding-bottom: 6px;
}

#productAfbeelding {
    height: 100px;
    width: 100px;
}